{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
<!-- display user name and action button -->
<div class="container">
  <div class="row" class="justify-content-center">
    <h2>Welcome back {{user.username}}! <a class="btn alert-success" href="{% url 'soccer:home' %}">Add Matches</a></h2>
  </div>
</div>
<!-- display a list of cards -->
<div class="card-columns">
  {% if matches %} <!-- check if there is a match -->
  {% for match in matches %} <!-- loop over matches -->
  <!-- create a card for every match -->
  <div class="card mt-5" style="width: 22rem;">

    <div class="row">
      <div class="col-sm-6">
        <a href="{% url 'soccer:detail' match.fixtureId %}"><img class="card-img-top" src="{{match.home_logo}}" alt="Card image cap" width="48%"></a>
      </div>
      <div class="col-sm-6 float-right">
        <a href="{% url 'soccer:detail' match.fixtureId %}"><img class="card-img-top" src="{{match.away_logo}}" alt="Card image cap" width="48%"></a>
      </div>
    </div>
    <div class="card-body">
      <span class="caption">{{ match.date }} | {{match.status}}</span>
      <h5 class="card-title"><a href="{% url 'soccer:detail' match.fixtureId %}">{{ match.home_team }} vs {{ match.away_team }}</a></h5>
      <p class="card-text">Country: {{match.country}} </p>
      <p class="card-text">Leugue: {{ match.league }}</p>
      <p class="card-text">Round: {{ match.round }}</p>
      <p class="card-text">Venue: {{ match.venue }}</p>
      <a href="{% url 'soccer:detail' match.fixtureId %}" class="btn btn-primary float-left mr-4">Prediction</a>
      {% if user.is_authenticated %}
      <form action="{% url 'soccer:deletematch' match.fixtureId %}" class="" method="post">
        {% csrf_token %}
        <input type="hidden" name="" value="{{match.fixtureId}}">
        <input class="btn btn-danger" type="submit" value="Delete Match">
      </form>
      {% endif %}

    </div>
  </div>
  <!-- end of card  -->
  {% endfor %}
  {% else %}
  <!-- show message for no matches -->
  <div class="alert alert-primary" role="alert">You don't have any games saved! <a href="{% url 'soccer:home' %}">Go back</a></div>
  {% endif %}
</div>
{% else %}
<!-- error message when user is not logged in -->
<div class="alert alert-primary" role="alert">You are not logged in. Please <a href="{% url 'login' %}">log in</a>to continue</div>
{% endif %}

{% endblock %}
