{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}


<h2>Hello {{user.username}}! Welcome to your matches</h2>
<div class="card-columns">

  {% for match in matches %}

  <div class="card mt-5" style="width: 18rem;">

    <div class="row">
      <div class="col-sm-6">
        <img class="card-img-top" src="{{match.home_logo}}" alt="Card image cap" width="48%">
      </div>
      <div class="col-sm-6 float-right">
        <img class="card-img-top" src="{{match.away_logo}}" alt="Card image cap" width="48%">
      </div>
    </div>
    <div class="card-body">
      <span class="caption">{{ match.date }} | {{match.status}}</span>
      <h5 class="card-title">{{ match.home_team }} vs {{ match.away_team }}</h5>
      <p class="card-text">Country: {{match.country}} </p>
      <p class="card-text">Leugue: {{ match.league }}</p>
      <p class="card-text">Round: {{ match.round }}</p>
      <p class="card-text">Venue: {{ match.venue }}</p>
      <a href="{% url 'soccer:detail' match.fixtureId %}" class="btn btn-primary float-left mr-4">Prediction</a>
      {% if user.is_authenticated %}
      <form action="{% url 'soccer:savematch' match.fixtureId %}" class="" method="post">
        {% csrf_token %}
        <input type="hidden" name="" value="{{match.fixtureId}}">
        <input class="btn btn-danger" type="submit" value="Delete Match">
      </form>
      {% endif %}

    </div>
  </div>

  {% endfor %}
</div>
{% else %}
<div class="alert alert-primary" role="alert">You are not logged in. Please log in to continue</div>
{% endif %}

{% endblock %}
